#### 문제 
프로그래머스 모바일은 개인정보 보호를 위해 고지서를 보낼 때 고객들의 전화번호의 일부를 가립니다.
전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 제외한 나머지 숫자를 전부 *으로 가린 문자열을 리턴하는 함수, solution을 완성해주세요.

In [15]:
# 내 풀이

def solution(phone_number):
    a  = len(phone_number)
    b = phone_number[-4:]
    c = a - 4
    return "*"*c + b

phone_number = "027778888"
solution(phone_number)

In [ ]:
# 남이 푼 풀이

def hide_numbers(s):
    return "*"*(len(s)-4) + s[-4:]

#### 문제 

행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과가 됩니다. 2개의 행렬 arr1과 arr2를 입력받아, 행렬 덧셈의 결과를 반환하는 함수, solution을 완성해주세요.
- input 
        arr1 = [[1,2],[2,3]]
        arr2 = [[3,4],[5,6]]
- output 
        return [[4,6],[7,9]]

In [27]:
# 내 풀이

def solution(arr1, arr2):
    answer = [[] for x in range(len(arr2))]
    for i in range(len(arr1)):            # 세로 크기
        for j in range(len(arr1[i])):     # 가로 크기
            answer[i].append(arr1[i][j] + arr2[i][j])
    
    
    return answer

In [28]:
#  다른 사람 풀이

# 방법 1
def sumMatrix(A,B):
    answer = [[c + d for c, d in zip(a, b)] for a, b in zip(A,B)]
    return answer

# 방법2
def sumMatrix(A,B):
    for i in range(len(A)) :
        for j in range(len(A[0])):
            A[i][j] += B[i][j] 
    return A

# 방법3

def sumMatrix(A,B):
    answer = [[A[i][j] + B[i][j] for j in range(len(A[0]))] for i in range(len(A))]

[[], []]

#### 문제 
정수 num이 짝수일 경우 "Even"을 반환하고 홀수인 경우 "Odd"를 반환하는 함수, solution을 완성해주세요.

- 입출력 예
        num	return
        3	"Odd"
        4	"Even"

In [37]:
# 내 풀이

def solution(num):
    
    return "Even" if num % 2 == 0 else "Odd"
num = 3
solution(num)

In [40]:
#  다른 사람 풀이

def solution(num):
    return ["Even", "Odd"][num & 1]

'Odd'

#### 문제 
이 문제에는 표준 입력으로 두 개의 정수 n과 m이 주어집니다.
별(*) 문자를 이용해 가로의 길이가 n, 세로의 길이가 m인 직사각형 형태를 출력해보세요.

In [49]:
#  내 풀이
a, b = map(int, input().strip().split(' '))

for i in range(b):
    for j in range(a):
        print("*", end = "")
    print()

5 3
*****
*****
*****

In [50]:
# 다른 사람 풀이

a, b = map(int, input().strip().split(' '))
answer = ('*'*a +'\n')*b
print(answer)

5 3
*****
*****
*****

#### 문제

자연수 n을 뒤집어 각 자리 숫자를 원소로 가지는 배열 형태로 리턴해주세요. 예를들어 n이 12345이면 [5,4,3,2,1]을 리턴합니다.

In [74]:
# 내 풀이

def solution(n):
    num = str(n)
    answer = [int(i) for i in num]
    answer.reverse()
    return answer

In [75]:
# 다른 사람 풀이

# 방법 1
def digit_reverse(n):
    return list(map(int, reversed(str(n))))

# 방법 2
def digit_reverse(n):
    return [int(i) for i in str(n)][::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

#### 문제 

    
    두 수를 입력받아 두 수의 최대공약수와 최소공배수를 반환하는 함수, solution을 완성해 보세요. 
    배열의 맨 앞에 최대공약수, 그다음 최소공배수를 넣어 반환하면 됩니다. 
    예를 들어 두 수 3, 12의 최대공약수는 3, 최소공배수는 12이므로 solution(3, 12)는 [3, 12]를 반환해야 합니다.

In [ ]:
def solution(x):
    answer = True
    return answer

---
#### 문제 
    양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다. 
    예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다. 
    자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수, solution을 완성해주세요.

In [92]:
# 내 풀이

def solution(x):
    hap = sum(list(map(int, str(x))))
    return x % hap == 0

In [89]:
# 다른 사람 풀이

def Harshad(n):
    # n은 하샤드 수 인가요?
    return n % sum([int(c) for c in str(n)]) == 0

---
#### 문제

    자연수 N이 주어지면, N의 각 자릿수의 합을 구해서 return 하는 solution 함수를 만들어 주세요.
    예를들어 N = 123이면 1 + 2 + 3 = 6을 return 하면 됩니다.

In [99]:
# 내 풀이

def solution(n):
    
    return sum(list([int(n) for n in str((n))]))
solution(789)

24

In [ ]:
# 다른 사람 풀이
# 방법 1
def sum_digit(number):
 
    return sum(map(int,str(number)))
# ------------------------------------------------
# 방법 2   
# 재귀함수 사용
def sum_digit(number):
    if number < 10:
        return number;
    return (number % 10) + sum_digit(number // 10)

---
#### 문제
    임의의 양의 정수 n에 대해, n이 어떤 양의 정수 x의 제곱인지 아닌지 판단하려 합니다.
    n이 양의 정수 x의 제곱이라면 x+1의 제곱을 리턴하고, n이 양의 정수 x의 제곱이 아니라면 -1을 리턴하는 함수를 완성하세요.

In [13]:
# 내 풀이
def solution(n)

    return int((n**(1/2)+1)**2) if n**(1/2)% int(n**(1/2))== 0 else -1

144

In [ ]:
# 다른 사람 풀이
# 방법 1
import math
def solution(n):

    return -1 if int(math.sqrt(n)) != math.sqrt(n) else (math.sqrt(n)+1) ** 2

# 방법 2
def nextSqure(n):
    sqrt = n ** (1/2)

    if sqrt % 1 == 0:
        return (sqrt + 1) ** 2
    return -1

---
#### 문제 설명
    함수 solution은 정수 x와 자연수 n을 입력 받아, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 리턴해야 합니다. 
    다음 제한 조건을 보고, 조건을 만족하는 함수, solution을 완성해주세요.
    
    입출력 예
    x	n	answer
    2	5	[2,4,6,8,10]
    4	3	[4,8,12]
    -4	2	[-4, -8]

In [45]:
# 내 풀이

def solution(x, n):
    
    return [i for i in range(x,x*n+1,x)]

solution(2,5)

[2, 4, 6, 8, 10]

In [43]:
x = -4
n = 2
answer = []
for i in range(1,n+1):
    answer.append(x*i)
print(answer)

12[-4, -8]

In [ ]:
# 다른 사람 풀이

def number_generator(x, n):
    # 함수를 완성하세요
    return [i * x + x for i in range(n)]

#### 문제 설명
    함수 solution은 정수 n을 매개변수로 입력받습니다. 
    n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 
    예를들어 n이 118372면 873211을 리턴하면 됩니다.
    
    입출력 예
    n	return
    118372	873211

In [49]:
# 내 풀이
def solution(n):
    a = list(map(int, sorted(str(n), reverse=True)))
    answer = ""
    for i in a:
        answer += str(i)
    return int(answer)

SyntaxError: invalid syntax (<ipython-input-49-16ca474cfd5c>, line 3)

In [ ]:
# 다른 사람 풀이
# 방법 1
def solution(n):
    ls = list(str(n))
    ls.sort(reverse = True)
    return int("".join(ls))

# 방법 2
def solution(n):
    return int("".join(sorted(list(str(n)), reverse=True)));

['1', '1', '8', '3', '7', '2']

873211

#### 문제 설명
    문자열 s는 한 개 이상의 단어로 구성되어 있습니다. 각 단어는 하나 이상의 공백문자로 구분되어 있습니다. 
    각 단어의 짝수번째 알파벳은 대문자로, 홀수번째 알파벳은 소문자로 바꾼 문자열을 리턴하는 함수, solution을 완성하세요.

In [ ]:
def solution(s):
    answer = ''
    lst = []
    dan = s.split(' ')
    for i in range(len(dan)) :
        ans = ''
        for j in range(len(dan[i])) :
            if j % 2 == 0 :
                ans += dan[i][j].upper()
            else :
                ans += dan[i][j].lower()
        lst.append(ans)
    answer = ' '.join(lst)
    return answer

In [ ]:
# 다른 사람 풀이

def toWeirdCase(s):
    return " ".join(map(lambda x: "".join([a.lower() if i % 2 else a.upper() for i, a in enumerate(x)]), s.split(" ")))

def toWeirdCase(s):
    # 함수를 완성하세요
    return ' '.join([''.join([c.upper() if i % 2 == 0 else c.lower() for i, c in enumerate(w)]) for w in s.split()])

---
####  문제 설명
    1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될때까지 다음 작업을 반복하면, 
    모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.

    1-1. 입력된 수가 짝수라면 2로 나눕니다. 
    1-2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다.
    2. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다.

In [150]:
#  내 풀이

def solution(num):
    cnt = 0
    while num > 1:
        num = num * 3 + 1 if num % 2 else num / 2
        cnt += 1
    return cnt if cnt < 500 else -1

In [151]:
# 다른 사람 풀이

# --------------------------------------------------------
# 방법 1
def collatz(num):
    answer = 0
    while num!=1:
        if num%2==0:
            num=num/2
        else:
            num=3*num+1
        answer=answer+1

        if answer>=500:
            return -1

    return answer
# --------------------------------------------------------
# 방법 2
def collatz(num):
    for i in range(500):
        num = num / 2 if num % 2 == 0 else num*3 + 1
        if num == 1:
            return i + 1
    return -1

8

---
#### 문제 설명
    정수를 저장한 배열, arr 에서 가장 작은 수를 제거한 배열을 리턴하는 함수, solution을 완성해주세요.
    단, 리턴하려는 배열이 빈 배열인 경우엔 배열에 -1을 채워 리턴하세요. 
    예를들어 arr이 [4,3,2,1]인 경우는 [4,3,2]를 리턴 하고, [10]면 [-1]을 리턴 합니다.
    
    입출력 예
    arr	return
    [4,3,2,1]	[4,3,2]
    [10]	[-1]

In [201]:

def solution(arr):
    
    if len(arr) > 0:
        a = min(arr)
        arr.remove(a)      
    else:
        [-1]
    return arr

[4, 3, 2]

In [202]:
# 다른 사람 풀이

def rm_small(mylist):
    # 함수를 완성하세요
    del mylist[mylist.index(min(mylist))]
    return mylist

In [204]:
mylist = [10]
rm_small(mylist)

[]

---
#### 문제 설명
    두 정수 a, b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 리턴하는 함수, solution을 완성하세요.
    예를 들어 a = 3, b = 5인 경우, 3 + 4 + 5 = 12이므로 12를 리턴합니다.

In [226]:
# 내 풀이
def solution(a, b):
    hap = []
    if b > a:
        for i in range(a,b+1):
             hap.append(i)
    else:
        for i  in range(b, a+1):
            hap.append(i)
    answer = sum(hap)
    return answer
# -----------------------------------------------------------------------------------------
def solution(a, b):
    
    return sum([i for i in range(a,b+1)]) if b > a else sum([i for i in range(b,a+1)])

[3, 4, 5]

12

In [227]:
# 다른 사람 풀이
def adder(a, b):
    # 함수를 완성하세요
    if a > b: a, b = b, a # a가 b보다 크며 바꾸고 그렇지 안으면 그대로 사용
        
    return sum(range(a,b+1))

# 방법 2
def adder(a, b):
    # 함수를 완성하세요
    return sum(range(min(a,b),max(a,b)+1))

12

#### 문제 설명
    String형 배열 seoul의 element중 "Kim"의 위치 x를 찾아, "김서방은 x에 있다"는 String을 반환하는 함수, solution을 완성하세요. 
    seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.
    
    입출력 예
    seoul	return
    ["Jane", "Kim"]	"김서방은 1에 있다"

In [254]:
# 내 풀이

def solution(seoul):
    for i, s in enumerate(seoul):
        if s == "Kim":
            answer =  "김서방은 {}에 있다.".format(i)
    return answer

In [255]:
# 다른 사람 풀이

def findKim(seoul):
    return "김서방은 {}에 있다".format(seoul.index('Kim'))

'김섭방은 1에 있다.'

---
#### 문제 설명
    길이가 n이고, "수박수박수박수...."와 같은 패턴을 유지하는 문자열을 리턴하는 함수, solution을 완성하세요. 
    예를들어 n이 4이면 "수박수박"을 리턴하고 3이라면 "수박수"를 리턴하면 됩니다.

In [271]:
# 내 풀이 1
s = "수박"
n = 3
if n % 2 == 0:
    cnt = n // 2
    answer = s*cnt
    
else:
    cnt = n // 2 + 1 
    ans = s*cnt
    answer = ans[:-1]
print(answer)

수박수

In [272]:
# 다른 사람 풀이
# 방법 1
def water_melon(n):
    s = "수박" * n
    return s[:n]
# 방법 2
def water_melon(n):
    return "수박"*(n//2) + "수"*(n%2)

1

---
#### 문제 설명
    대문자와 소문자가 섞여있는 문자열 s가 주어집니다. s에 'p'의 개수와 'y'의 개수를 비교해 같으면 True, 
    다르면 False를 return 하는 solution를 완성하세요. 'p', 'y' 모두 하나도 없는 경우는 항상 True를 리턴합니다. 
    단, 개수를 비교할 때 대문자와 소문자는 구별하지 않습니다.
    예를 들어 s가 "pPoooyY"면 true를 return하고 "Pyy"라면 false를 return합니다.
    
    입출력 예
        s	    answer
    "pPoooyY"	true
    "Pyy"	    false

In [295]:
# 내 풀이

def solution(s):
    s = s.lower()
    p_cnt =len([pos for pos, char in enumerate(s) if char == "p"])

    y_cnt = len([pos for pos, char in enumerate(s) if char == "y"])

    return True if p_cnt == y_cnt else False

False

In [296]:
# 다른 사람 풀이

def numPY(s):
    # 함수를 완성하세요
    return s.lower().count('p') == s.lower().count('y')

# 방법 2
def numPY(s):
    # 함수를 완성하세요
    if(s.upper().count('P')==s.upper().count('Y')):
        return True
    return False