#### 문제 설명
    수많은 마라톤 선수들이 마라톤에 참여하였습니다. 단 한 명의 선수를 제외하고는 모든 선수가 마라톤을 완주하였습니다.

    마라톤에 참여한 선수들의 이름이 담긴 배열 participant와 완주한 선수들의 이름이 담긴 배열 completion이 주어질 때,
    완주하지 못한 선수의 이름을 return 하도록 solution 함수를 작성해주세요.

In [19]:
def solution(participant, completion):
    count = {}
    for i in participant:
        try:count[i] += 1 # 없으면 새로 만들고
        except:count[i] = 1 # 있으면 추가하기
            
    for j in completion:
        if j in count:
            count[j]-= 1
   
    return  ",".join([key for key, value  in count.items() if value > 0])

In [24]:

participant = ["marina", "josipa", "nikola", "vinko", "filipa"]
completion = ["josipa", "filipa", "marina", "nikola"]
solution(participant, completion)

'vinko'

In [ ]:
# 다른 사람 풀이
# 방법 1 
def solution(participant, completion):
    answer = ''
    temp = 0
    dic = {}
    for part in participant:
        dic[hash(part)] = part
        temp += int(hash(part))
        
    for com in completion:
        temp -= hash(com)
    answer = dic[temp]

    return answer
 # ----------------------------------------------------------
def solution(participant, completion):
    participant.sort()
    completion.sort()
    for i in range(len(completion)):
        if participant[i] != completion[i]:
            return participant[i]
    return participant[len(participant)-1]

# -----------------------------------------------------------
import collections

def solution(participant, completion):
    answer = collections.Counter(participant) - collections.Counter(completion)
    return list(answer.keys())[0]

#### 문제 설명
    문자열로 구성된 리스트 strings와, 정수 n이 주어졌을 때, 각 문자열의 인덱스 n번째 글자를 기준으로 오름차순 정렬하려 합니다. 
    예를 들어 strings가 ["sun", "bed", "car"]이고 n이 1이면 각 단어의 인덱스 1의 문자 "u", "e", "a"로 strings를 정렬합니다.

In [ ]:
# 10진수를 2진수로 변환

In [131]:
def solution(n, arr1, arr2):
    answer = []
    arr1_bin = []
    arr2_bin = []
    for i in range(n):
        arr1_bin.append(bin(arr1[i])[2:])
        arr2_bin.append(bin(arr2[i])[2:])
        arr1_bin[i] = ('0' * (n-len(arr1_bin[i]))) + arr1_bin[i]
        arr2_bin[i] = ('0' * (n-len(arr2_bin[i]))) + arr2_bin[i]
    
        tmp = ''
        for p in range(n):
            if arr1_bin[i][p] == '1' or arr2_bin[i][p] == '1':
                tmp += '#'
            elif arr1_bin[i][p] == '0' and arr2_bin[i][p] == '0':
                tmp += ' '
        answer.append(tmp)
        
    return answer

In [132]:
n = 6
arr1 = [46, 33, 33 ,22, 31, 50]
arr2 = [27,56, 19, 14, 14, 10]
solution(n, arr1, arr2)

['######', '###  #', '##  ##', ' #### ', ' #####', '### # ']

#### 문제 설명 
    수포자는 수학을 포기한 사람의 준말입니다. 수포자 삼인방은 모의고사에 수학 문제를 전부 찍으려 합니다. 
    수포자는 1번 문제부터 마지막 문제까지 다음과 같이 찍습니다.
    1번 학생 : 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, ...
    2번 학생 : 2, 1, 2, 3, 2, 4, 2, 5, 2, 1, 2, 3, 2, 4, 2, 5, ...
    3번 학생 : 3, 3, 1, 1, 2, 2, 4, 4, 5, 5, 3, 3, 1, 1, 2, 2, 4, 4, 5, 5, ...

In [ ]:
one = [1, 2, 3, 4, 5]
two = [2, 1, 2, 3, 2, 4, 2, 5]
three = [3, 3, 1, 1, 2, 2, 4, 4, 5, 5]

answer = [1,3,2,4,2]

#### 문제 설명
    주어진 숫자 중 3개의 수를 더했을 때 소수가 되는 경우의 개수를 구하려고 합니다. 
    숫자들이 들어있는 배열 nums가 매개변수로 주어질 때, nums에 있는 숫자들 중 서로 다른 3개를 골라 더했을 때 소수가 되는 
    경우의 개수를 return 하도록 solution 함수를 완성해주세요.

In [159]:
nums = [1,2,7,6,4]

In [179]:
n = 3000
sieve = [True] * n

m = int(n ** 0.5)
for i in range(2, m + 1):
    if sieve[i] == True:           # i가 소수인 경우 
        for j in range(i+i, n, i): # i이후 i의 배수들을 False 판정
            sieve[j] = False
# 소수 목록 산출
sosu = [i for i in range(2, n) if sieve[i] == True]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109, 1117, 1123, 1129, 1151, 1153, 1163, 1171, 1181, 1187, 1193, 1201, 1213, 1217, 1223, 1229, 1231, 1237, 1249, 1259, 1277, 1279, 1283, 1289, 1291, 1297, 1301, 1303, 1307, 1319, 1321, 1327, 1361, 1367, 1373, 1381, 1399, 1409, 1423, 1427, 1429, 1433, 1439, 1447, 1451, 1453, 1459, 1471, 1481, 1483, 1487, 1489, 1493, 1499, 1511, 1523, 1531, 1543, 1549, 1553, 1559, 1567, 1571, 1579, 1583, 1597, 1601, 1607, 1609, 1613, 1619, 1621, 1627, 1637, 1657, 1663, 1667, 1669, 1693, 1697, 1699, 1709, 1721, 1723, 1733, 1741, 1747, 1753, 1759, 1777, 1783, 1787, 1789, 1801, 1811, 1823, 1831, 1847, 1861, 1867, 1871, 1873, 1877, 1879, 1889, 1901, 1907, 1913, 1931, 1933, 1949, 1951, 1973, 1979, 1987, 1993, 1997, 1999, 2003, 2011, 2017, 2027, 2029, 2039, 2053, 2063, 2069, 2081, 2083, 2087, 2089, 2099, 2111, 2113, 2129, 2131, 2137, 2141, 2143, 2153, 2161, 2179, 2203, 2207, 2213, 2221, 2237, 2239, 2243, 2251, 2267, 2269, 2273, 2281, 2287, 2293, 2297, 2309, 2311, 2333, 2339, 2341, 2347, 2351, 2357, 2371, 2377, 2381, 2383, 2389, 2393, 2399, 2411, 2417, 2423, 2437, 2441, 2447, 2459, 2467, 2473, 2477, 2503, 2521, 2531, 2539, 2543, 2549, 2551, 2557, 2579, 2591, 2593, 2609, 2617, 2621, 2633, 2647, 2657, 2659, 2663, 2671, 2677, 2683, 2687, 2689, 2693, 2699, 2707, 2711, 2713, 2719, 2729, 2731, 2741, 2749, 2753, 2767, 2777, 2789, 2791, 2797, 2801, 2803, 2819, 2833, 2837, 2843, 2851, 2857, 2861, 2879, 2887, 2897, 2903, 2909, 2917, 2927, 2939, 2953, 2957, 2963, 2969, 2971, 2999]

In [187]:
c
count = 0

a = []
for i in range(len(nums)):
    
    for j in range(1, len(nums)):
        
        for k in range(2, len(nums)):
            if nums[i] == nums[j] or nums[i] == nums[k] or nums[j] == nums[k]:
                pass
                
            else:
                hap = nums[i] + nums[j] + nums[k]
                a.append(hap)
            
print(count)
print("------------------")
b = list(set(a))
print(b)

1 2 3
1 2 4
1 3 4
1 4 3
2 3 4
2 4 3
3 2 4
4 2 3
0
------------------
[8, 9, 6, 7]

In [188]:
b = list(set(a))
print(b)

[8, 9, 6, 7]

In [191]:
cnt = 0
for i in list(set(a)):
    if i in sosu:
        cnt += 1

In [192]:
print(cnt)

1

In [182]:
for j in range(1, len(nums)):
    print(j)

1
2
3

In [183]:
for k in range(2, len(nums)):
    print(k)

2
3

In [219]:
def solution(nums):
    n = 3000
    cnt = 0
    a = []
    
    sieve = [True] * n
    m = int(n ** 0.5)
    for i in range(2, m + 1):
        if sieve[i] == True:           # i가 소수인 경우 
            for j in range(i+i, n, i): # i이후 i의 배수들을 False 판정
                sieve[j] = False
    # 소수 목록 산출
    decimal = [i for i in range(2, n) if sieve[i] == True] # #소수 리스트 만들기
    #print(decimal)
    for i in range(len(nums)-2):
        for j in range(i+1, len(nums)-1):
            for k in range(j+1, len(nums)):
                hap = nums[i] + nums[j] + nums[k]
                a.append(hap)                        
    for i in a:
        if i in decimal: # 3갱의 수 합 리스트의 값들 중에서 소수 리스트에 값이 있으면 count세기
            cnt += 1
    return  cnt

In [220]:
nums = [1,2,3,4]
solution(nums)

1

#### 소수 판정법 중에 가장 알려진 예시 하나가 주어진 자연수 n에 대해서 1보다 크고 루트 n 이하인 모든 자연수들로 나누어떨어지지 않으면 소수라는 것인데, 이걸 이용한 듯합니다.

In [242]:
# 다른 사람 풀이
from itertools import combinations
def prime_number(x):
    answer = 0
    for i in range(1,int(x**0.5)+1):
        if x % i==0:
            answer+=1
    return 1 if answer==1 else 0

def solution(nums):
    return sum([prime_number(sum(c)) for c in combinations(nums,3)])

# 다른 사람 풀이 -------------------------------------------------------------------
def solution(nums):
    from itertools import combinations as cb
    answer = 0
    for a in cb(nums, 3):
        #print("a :",a)
        cand = sum(a)
        #print("cand",cand)
        for j in range(2, cand):
            if cand%j==0:
                break
        else:
            answer += 1
    return answer

In [246]:
nums = [1,2,3,4]
solution(nums)

1

#### 문제 설명
    S사에서는 각 부서에 필요한 물품을 지원해 주기 위해 부서별로 물품을 구매하는데 필요한 금액을 조사했습니다. 
    그러나, 전체 예산이 정해져 있기 때문에 모든 부서의 물품을 구매해 줄 수는 없습니다. 
    그래서 최대한 많은 부서의 물품을 구매해 줄 수 있도록 하려고 합니다.

    물품을 구매해 줄 때는 각 부서가 신청한 금액만큼을 모두 지원해 줘야 합니다. 
    예를 들어 1,000원을 신청한 부서에는 정확히 1,000원을 지원해야 하며, 1,000원보다 적은 금액을 지원해 줄 수는 없습니다.

    부서별로 신청한 금액이 들어있는 배열 d와 예산 budget이 매개변수로 주어질 때, 
    최대 몇 개의 부서에 물품을 지원할 수 있는지 return 하도록 solution 함수를 완성해주세요.

In [1]:
def solution(d, budget):
    cnt = 0
    hap = 0
    sort_value = sorted(d)
    for i in sort_value:
        hap += i
        if hap <= budget:
            cnt += 1
        else:
            break
    return cnt

In [2]:
d = [1,3,2,5,4]
budget = 9
solution(d, budget)

3

### 2021 카카오 채용연계형 인턴십
#### 숫자 문자열과 영단어
    네오와 프로도가 숫자놀이를 하고 있습니다. 네오가 프로도에게 숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

In [59]:
def solution(s):
    num = {"zero":0, "one":1, "two":2, "three":3, "four":4, "five":5, "six":6, "seven":7, "eight":8, "nine":9}

    for key,value  in num.items():
        if key in s:
            s = s.replace(key, str(value))   
    return int(s)

s = "1zerotwozero3"
solution(s)

In [88]:
s[5:7]

'10'

### 월간 코드 챌린지 시즌1
#### 3진법 뒤집기

문제 설명
자연수 n이 매개변수로 주어집니다. n을 3진법 상에서 앞뒤로 뒤집은 후, 이를 다시 10진법으로 표현한 수를 return 하도록 solution 함수를 완성해주세요.

In [119]:
def solution(n):
    rev_base = ''
    answer = 0
    while n > 0:
        n, mod = divmod(n, 3)
        rev_base += str(mod)       
    base= rev_base[::-1] 
    
    for i in range(len(base)):
        answer += int(base[i])*(3**i)
    
    return answer
    
print(solution(45))

7

In [121]:
# 다른 사람 풀이
def solution(n):
    tmp = ''
    while n:
        tmp += str(n % 3)
        n = n // 3

    answer = int(tmp, 3)
    return answer

1234567

### 월간 코드 챌린지 시즌1
#### 두 개 뽑아서 더하기


#### 문제 설명
    정수 배열 numbers가 주어집니다. numbers에서 서로 다른 인덱스에 있는 두 개의 수를 뽑아 더해서 만들 수 있는 모든 수를 배열에 오름차순으로 담아 return 하도록 solution 함수를 완성해주세요.

In [142]:
def solution(numbers):
    answer = []
    
    for i in range(len(numbers)-1):
        for j in range(i+1,len(numbers)):
            answer.append(numbers[i] + numbers[j])  
    return sorted(list(set(answer)))

### 월간 코드 챌린지 시즌2
#### 음양 더하기
#### 문제 설명
    어떤 정수들이 있습니다. 
    이 정수들의 절댓값을 차례대로 담은 정수 배열 absolutes와 이 정수들의 부호를 차례대로 담은 불리언 배열 signs가 매개변수로 주어집니다. 실제 정수들의 합을 구하여 return 하도록 solution 함수를 완성해주세요.

In [149]:
absol = [4,4,7,12]
signs = [False, True,False,True]

In [151]:
# 내 풀이
def solution(absolutes, signs):
    answer = 0
    for i in range(len(absolutes)):
        if signs:
            answer += absolutes[i]
        else:
            answer -= absolutes[i]
    return answer

In [ ]:
# 다른 사람 풀이

def solution(absolutes, signs):
    return sum(absolutes if sign else -absolutes for absolutes, sign in zip(absolutes, signs))

### 월간 코드 챌린지 시즌3
#### 없는 숫자 더하기
#### 문제 설명
    0부터 9까지의 숫자 중 일부가 들어있는 배열 numbers가 매개변수로 주어집니다. numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 
    찾아 더한 수를 return 하도록 solution 함수를 완성해주세요.

In [170]:
numbers = [1,2,3,4,6,7,8,0]
no_num = [i for i in range(10)]

for i in numbers:
    no_num.remove(i)

In [ ]:
# 다른 사람 풀이
def solution(numbers):
    return 45 - sum(numbers)

### 월간 코드 챌린지 시즌1
#### 내적
#### 문제 설명
    길이가 같은 두 1차원 정수 배열 a, b가 매개변수로 주어집니다. a와 b의 내적을 return 하도록 solution 함수를 완성해주세요.
    이때, a와 b의 내적은 a[0]*b[0] + a[1]*b[1] + ... + a[n-1]*b[n-1] 입니다. (n은 a, b의 길이)

In [173]:
answer = []
a = [1,2,3,4]
b = [-3,-1,0,2]
for i in range(len(a)):
    answer.append(a[i]*b[i])
print(sum(answer))
#========================================================

def solution(a,b):
    return sum([a[i]*b[i] for i in range(len(a))])

3

In [175]:
# 다른 사람 풀이

def solution(a, b):

    return sum([x*y for x, y in zip(a,b)])
#----------------------------------------------

3

### 최대공약수와 최소공배수
#### 문제 설명
    두 수를 입력받아 두 수의 최대공약수와 최소공배수를 반환하는 함수, solution을 완성해 보세요. 배열의 맨 앞에 최대공약수, 
    그다음 최소공배수를 넣어 반환하면 됩니다. 예를 들어 두 수 3, 12의 최대공약수는 3, 
    최소공배수는 12이므로 solution(3, 12)는 [3, 12]를 반환해야 합니다.

In [189]:
def solution(n, m):
    answer = []
    nn = [i for i in range(1,int(max(n,m)/2)+1) if n % i == 0]
    mm = [i for i in range(1,int(max(n,m)/2)+1) if m % i == 0]
    answer.append(max(i for i in mm if i in nn))
    answer.append(n*m/max(i for i in mm if i in nn))

    return answer

[1, 3]
[1, 2, 3, 4, 6]

In [ ]:
# 다른 사람 풀이
def gcdlcm(a, b):
    c, d = max(a, b), min(a, b)
    t = 1
    while t > 0:
        t = c % d
        c, d = d, t
    answer = [c, int(a*b/c)]

    return answer

## 승률

In [54]:
def solution(weights, head2head):
    answer = []
    result = []
    for i in range(len(head2head)):
        w = 0
        l = 0
        cnt = 0
        head2head[i] = list(head2head[i])
        for j in range(len(weights)):
            if head2head[i][j] == 'W':
                w += 1
                if weights[i] < weights[j]:
                    cnt += 1
            elif head2head[i][j] == 'L':
                l += 1
        if w+l != 0:
            result.append([i+1, w/(w+l), cnt, weights[i]])
        else:
            result.append([i+1, 0, cnt, weights[i]])
    result.sort(reverse=True, key = lambda x : (x[1],x[2],x[3]) )
    for i in range(len(result)):
        answer.append(result[i][0])
    return answer

w = [50,82,75,120]
h2h = ["NLWL","WNLL","LWNW","WWLN"]
solution(w,h2h)

### 2019 KAKAO BLIND RECRUITMENT
#### 실패율

In [145]:
def solution(N, stages):
    cnt = len(stages) # 총 참가자 수
    result = []
    for i in range(1,N+1):
        if stages.count(i) != 0:
            result.append([stages.count(i)/cnt, i])
            print(i," 스테이지 참가자", cnt) 
            cnt = cnt-stages.count(i)
        else:
            result.append([0, i])
        
    answer = sorted(result, reverse=True, key=lambda x : x[0])
    return [answer[i][1] for i in range(N)]  
        
N = 5
stages = [2, 1, 2, 6, 2, 4, 3, 3]
solution(N, stages)

1  스테이지 참가자 8
2  스테이지 참가자 7
3  스테이지 참가자 4
4  스테이지 참가자 2
[[0.5, 3], [0.5, 4], [0.42857142857142855, 2], [0.125, 1], [0, 5]]

[3, 4, 2, 1, 5]

### 2020 카카오 인턴십
#### 키패드 누르기

In [162]:
def solution(strings, n):
    answer = sorted([list(i) for i in strings], key=lambda x : (x[n],x))
    
    return ["".join(answer[i]) for i in range(len(answer)) ]

In [161]:
def solution(strings, n):
    return sorted(strings, key=lambda x: (x[n], x))


strings = ["abce", "abcd", "cdx"]
n = 2

solution(strings, n)

['abcd', 'abce', 'cdx']

In [ ]:
sorted(strings, key=lambda x: (x[n], x))

### 완전탐색
#### 모의고사

In [195]:
def solution(answers):
    answer = []
    score = [0,0,0]
    
    std1 = [1,2,3,4,5]
    std2 = [2,1,2,3,2,4,2,5]
    std3 = [3,3,1,1,2,2,4,4,5,5]
    
    for i in range(len(answers)):
        if answers[i] == std1[i%5]: 
            score[0] += 1
        if answers[i] == std2[i%8]: 
            score[1] += 1
        if answers[i] == std3[i%10]: 
            score[2] += 1
            
    return [i+1 for i in range(3) if max(score) == score[i] ]

In [ ]:
answers = [1,3,2,4,2]
solution(answers)

In [186]:
answer = []
for i in range(3):
    if max(score) == score[i]:
        answer.append(i+1)
print(answer)

[1, 2, 3]

In [190]:
answers = [1,3,2,4,2]
solution(answers)

[1, 2, 3]

사랑한다